# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

1a/.gradle/
1b/.gradle/
2a/.gradle/
2b/.gradle/
3a/.gradle/
3b/.gradle/
4a/.gradle/
4b/.gradle/
5a/.gradle/
5b/.gradle/
6a/.gradle/
6b/.gradle/
7a/.gradle/
7b/.gradle/
8a/.gradle/
8b/.gradle/
9a/.gradle/
9b/.gradle/
10a/.gradle/
10b/.gradle/
11a/.gradle/
11b/.gradle/
12a/.gradle/
12b/.gradle/
13a/.gradle/
13b/.gradle/
14a/.gradle/
14b/.gradle/
15a/.gradle/
15b/.gradle/
16a/.gradle/
16b/.gradle/
17a/.gradle/
17b/.gradle/
18a/.gradle/
18b/.gradle/
19a/.gradle/
19b/.gradle/
20a/.gradle/
20b/.gradle/
21a/.gradle/
21b/.gradle/
22a/.gradle/
22b/.gradle/
23a/.gradle/
23b/.gradle/
24a/.gradle/
24b/.gradle/
25a/.gradle/
25b/.gradle/

1a/.idea/
1b/.idea/
2a/.idea/
2b/.idea/
3a/.idea/
3b/.idea/
4a/.idea/
4b/.idea/
5a/.idea/
5b/.idea/
6a/.idea/
6b/.idea/
7a/.idea/
7b/.idea/
8a/.idea/
8b/.idea/
9a/.idea/
9b/.idea/
10a/.idea/
10b/.idea/
11a/.idea/
11b/.idea/
12a/.idea/
12b/.idea/
13a/.idea/
13b/.idea/
14a/.idea/
14b/.idea/
15a/.idea/
15b/.idea/
16a/.idea/
16b/.idea/
17a/.idea/
17b/.idea/
18a/.idea/
18b/.idea/
19a/.idea/
19b/.idea/
20a/.idea/
20b/.idea/
21a/.idea/
21b/.idea/
22a/.idea/
22b/.idea/
23a/.idea/
23b/.idea/
24a/.idea/
24b/.idea/
25a/.idea/
25b/.idea/

1a/build/
1b/build/
2a/build/
2b/build/
3a/build/
3b/build/
4a/build/
4b/build/
5a/build/
5b/build/
6a/build/
6b/build/
7a/build/
7b/build/
8a/build/
8b/build/
9a/build/
9b/build/
10a/build/
10b/build/
11a/build/
11b/build/
12a/build/
12b/build/
13a/build/
13b/build/
14a/build/
14b/build/
15a/build/
15b/build/
16a/build/
16b/build/
17a/build/
17b/build/
18a/build/
18b/build/
19a/build/
19b/build/
20a/build/
20b/build/
21a/build/
21b/build/
22a/build/
22b/build/
23a/build/
23b/build/
24a/build/
24b/build/
25a/build/
25b/build/
